################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/AdventOfCode/DesignTimeBuild
/src/.vs/AdventOfCode/FileContentIndex
/src/.vs/AdventOfCode/v17
/src/.vs/ProjectEvaluation
/src/bin/Debug/net8.0
/src/obj/Debug/net8.0
/src/obj
